extends layout

block content
  nav.navbar.navbar-expand-lg.bg-info
    .container
      .navbar-translate
        a.navbar-brand(href='/')
          img(src="images/whiteelphantlogo.svg")
        button.navbar-toggler(type='button', data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
          span.navbar-toggler-icon
          span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          //- li.active.nav-item
          //-   a.nav-link(href='')
          //-     | 
          li.nav-item
            a.nav-link(href='')
              | Podcast
          li.nav-item
            a.nav-link(href='#')
              | Articles

  header
    .container
      .row
        .col.col-md-5.col-sm-12.col-12
          .header-pic
            img(src="images/register_happy.png")
        .col.col-md-7.col-sm-12.col-12
          .header-text
            h2 Offering Knowledge and Philosophy to  Tranform Your Life
            p WhiteHathi is dedicated to spread knowledge and teachings of spirituality to enable individuals to transform their lives and make them aware of untapped human capability of oneself.
  .thought-section
    .thought-wrap
      .thought
        Lorem Lorem dolor sit amet consectetur adipisicing elit. Voluptas asperiores fugit amet illum voluptatibus pariatur! Pariatur suscipit debitis in eius vero! Vero esse porro sed dolores alias aliquid sit repellendus.
      .speaker ANSEL ADAMS

  #blog.blog-wrapper
      .section-heading  Articles
      .container
        .row
          .col.col-md-4
            .blogcard-wrap
              .blog-card
                .blog-img
                  img(src='images/blog1.jpg', alt='')
                .blog-content
                  .blog-title
                    | Why Mindful Meditation is useful for you 
                  .date
                    | 14-05-2017
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione odio, fugiat corrupti doloremque nihil quisquam ducimus cumque perferendis omnis reiciendis officia! Ratione recusandae ex dignissimos deserunt rerum in id quos.
          .col.col-md-4
            .blogcard-wrap
              .blog-card
                .blog-img
                  img(src='images/blog2.jpg', alt='')
                .blog-content
                  .blog-title
                    | 10 life lessions from life of Swami Vivekanand
                  .date
                    | 13-05-2017
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione odio, fugiat corrupti doloremque nihil quisquam ducimus cumque perferendis omnis reiciendis officia! Ratione recusandae ex dignissimos deserunt rerum in id quos.
          .col.col-md-4
            .blogcard-wrap
              .blog-card
                .blog-img
                  img(src='images/blog3.jpg', alt='')
                .blog-content
                  .blog-title
                    | What is Isha Kriya
                  .date
                    | 10-05-2017
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione odio, fugiat corrupti doloremque nihil quisquam ducimus cumque perferendis omnis reiciendis officia! Ratione recusandae ex dignissimos deserunt rerum ...
        .btn.linebtn
          | Read More
              



  //- .row
  //-   .col-md-8.ml-auto.mr-auto
  //-     button.btn Default
  //-       .ripple-container
  //-       button.btn.btn-primary Primary
  //-     .form-group.has-default.bmd-form-group
  //-       input(type="text" class="form-control" placeholder="Regular")




//- //-   “Offering Yoga As A Science Of Transformation, 
//- As A Science Towards One’s Liberation Is The Basic Objective Of Isha.”
//- //- -Sadhguru
 
//- //- Isha Foundation is dedicated to raising human consciousness, 
//- and fosters global harmony through individual transformation. 
//- Guided by Sadhguru, it is an essential resource for exploring the ancient science of yoga
//-  in all its depth and dimensions. The foundation offers a variety of programs that provide methods
//-   for anyone to attain physical, mental and spiritual wellbeing. 
//-   Its offerings allow participants to deepen their experience of life, and reach their ultimate potential.z 