doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900")
    link(rel="stylesheet" href="/stylesheets/material-kit.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      script(src="/javascripts/jquery.min.js") 
      script(src="/javascripts/popper.min.js")   
      script(src="/javascripts/bootstrap-material-design.min.js")  
      script(src="/javascripts/material-kit.min.js")    
